# Системные файлы
.DS_Store
*.code-workspace

# IDE
.idea/
.vscode/

# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Виртуальные окружения
.venv/
venv/
env/

# Airflow config
airflow.cfg

# Данные
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/.gitkeep

# Модели
models/*
!models/.gitkeep

# Файлы форматов данных
*.csv
*.xlsx
*.pkl
*.parquet
rquet