# ======================
# СИСТЕМНЫЕ ФАЙЛЫ
# ======================
.DS_Store
Thumbs.db
*.code-workspace

# ======================
# IDE / EDITORS
# ======================
.idea/
.vscode/

# ======================
# PYTHON / JUPYTER
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/
notebooks/*_backup.ipynb

# ======================
# ВИРТУАЛЬНЫЕ ОКРУЖЕНИЯ
# ======================
.venv/
venv/
env/

# ======================
# AIRFLOW / TEMP CONFIGS
# ======================
airflow.cfg

# ======================
# DATA
# ======================
data/raw/
data/predictions/
!data/raw/.gitkeep
!data/predictions/.gitkeep

# Разрешаем финальные обработанные датасеты
!data/processed/.gitkeep
!data/processed/sessions_with_target.parquet

# ======================
# MODELS
# ======================
models/*
!models/.gitkeep
!models/best_model_full.pkl
!models/best_model_full_meta.json

# ======================
# CATBOOST / TRAIN LOGS
# ======================
notebooks/catboost_info/


# ======================
# DOCKER ARTIFACTS
# ======================
*.tar
*.pid
*.log

# ======================
# JUPYTER RUNTIME / CONFIG
# ======================
.jupyter/


# ======================
# OS / TEMP / BAT FILES
# ======================
*.bat
*.tmp
*.bak
